@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    font-size: 10rem;
    text-align: center;
    color: rgb(179, 131, 221);
}

.todo-wrap{
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.todo-wrap input{
    border: none;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #444;
}

.todo-wrap input::placeholder{
    color: #d5d5d5;
}

.todo-wrap input:focus{
    outline-color: rgb(179, 131, 221);
}

button{
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(179, 131, 221);
    border: none;
    cursor: pointer;
    color: #d5d5d5;
}

.todo-wrap ul{
    height: 300px;
    overflow: auto;
}

.todo-wrap li{
    list-style-type: none;
    border-top: 1px solid #e5e5e5;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.help-area{
    position: relative;
}

.help-button{
    position: fixed;
    right: 16px;
    bottom: 20px;
    /* font-size: 2.5rem; */
    color: rgb(179, 131, 221);
    cursor: pointer;
}

.help-box{
    visibility: hidden;
    border: 2px solid rgb(179, 131, 221);
    padding: 1rem 2rem;
    border-radius: 8px;
    position: fixed;
    width: 330px;
    height: 89px;
    right: 13px;
    bottom: 24px;
    transition: .3s;
    display: inline-block;
    z-index: 1;
}

.help-area:hover .help-box{
    visibility: visible;
}

.completed{
    color: #b6b6b6;
    text-decoration: line-through;
}
